 
 .header {
  padding: 48px 0 60px;
  display: flex;
  align-items: center;
 }
 
 .header a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
 }
 
 .header a:hover {
  opacity: 0.5;
 }
 
 .header a:active {
  opacity: 0.2;
 }
 
 .header-logo {
  display: block;
 }
 
 
 .header-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
 }
 
 .header-item {
  margin-right: 21px;
 }
 
 .contact-link {
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 9px;
 }
 
 *body {
  font-family: var(--font-opensans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
 }
 
 a {
  text-decoration: none;
  color: #1E0606;
 
 }
 .hidden{
  height: 0px;
  font-size: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
 }
 .container{
  max-width: 1180px;
  width: 100%;
  margin: 0px auto;
 }
 
 h1,
 h2 {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
 }
 
 .button {
  display: block;
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 22px;
  border: none;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
 }
 
 .hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
 }
 
 /*FORM SEARCH*/
 .search-form {
  position: relative;
  width: 300px;
  height: 24px;
 }
 
 .search-text {
  height: 24px;
  width: 0;
  padding: 0 15px 0;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
 }
 
 .search-text:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 2px solid #000000;
 }
 
 .search-img {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 9px;
 }
 
 /* FOOTER */
 
 footer {
  background: #434343;
  padding: 100px 0;
  }
  
  .footer-top-content {
  padding-bottom: 14px;
  }
  
  .footer-titles {
  font-weight: normal;
  color: #aaa;
  border-bottom: #666666 solid 1px;
  padding-bottom: 22px;
  margin: 0;
  }
  
  .footer-lists {
  display: flex;
  justify-content: space-between;
  }
  
  .navigation-list,
  .footer-customer-info,
  .connect {
  max-width: 380px;
  width: 100%;
  }
  
  .footer-navigation-menu,
  .footer-customer-menu,
  .socials-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }
  
  .footer-navigation-menu,
  .footer-customer-menu {
  padding-top: 28px;
  }
  
  .footer-menu-item a,
  .socials-link,
  .copyright,
  .rating-label,
  .rating-item {
  color: #fff;
  }
  
  .footer-menu-item {
  padding-bottom: 15px;
  }
  
  .socials-link:hover,
  .footer-menu-item:hover {
  opacity: 0.5;
  }
  
  .socials-link:active,
  .footer-menu-item:active {
  opacity: 0.2;
  }
  
  .subscribe-form {
  display: flex;
  padding-top: 26px;
  }
  
  .input-email {
  width: 100%;
  padding-left: 15px;
  color: #EBEBEB;
  background-color: #666;
  border: 1px solid transparent;
  border-right: 0;
  }
  
  .input-email::placeholder {
  color: #EBEBEB;
  }
  
  .input-email:hover,
  .input-email:active {
  border: 1px solid #FFFDFD;
  border-right: 0;
  }
  
  .subscribe-btn {
  max-width: 81px;
  width: 100%;
  }
  
  .socials {
  padding-top: 29px;
  }
  
  .socials-list {
  display: flex;
  font-size: 14px;
  padding-left: 11px;
  }
  
  .socials-list li:not(:first-child) {
  padding-left: 28px;
  }
  
  .socials-link {
  position: relative;
  z-index: 0;
  }
  
  .socials-link::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #434343;
  z-index: -1;
  }
  
  .rating-list,
  .copyright,
  .designer-link {
  max-width: 380px;
  width: 100%;
  }
  
  .footer-bottom-content {
  border-top: #666666 solid 1px;
  padding: 23px 0 0;
  }
  
  
  /* Stars rating */
  
  .star-rating-input:checked~.rating-label {
  color: #C29974;
  }
  
  .rating-list {
   
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  }
  
  .rating-list:hover .rating-label {
  color: #C29974;
 }
  
  .rating-list .rating-item:last-of-type {
  padding-left: 28px;
  }
  
  .star-rating-input {
  display: none;
  }
  
  .rating-item {
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
  color: #C29974;
  transition: 0.2s;
  text-decoration: none;
  }
  
  .rating-item:hover,
  .rating-item:hover~.rating-item,
  .rating-item:focus~.rating-item {
  color: #836E5B;
  }
  
  .star-rating-input:checked~.rating-item,
  .star-rating-input:not(:checked)>.rating-item:hover,
  .star-rating-input:not(:checked)>.rating-item:hover~.rating-item {
  color: #C29974;
  }
  
  .designer-link {
  color: #A2A2A2;
  }
  
  .designer-link:hover,
  .designer-link:active {
  color: #fff;
  text-decoration-line: underline;
  }
   
   /
   .page-title {
   margin: 0;
   font-size: 40px;
   line-height: 49px;
   }
   
   .articles-control {
   display: flex;
   justify-content: space-between;
   padding-bottom: 47px;
   }
   
   .articles-control button {
   background-color: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   }
   
   .page-list {
   list-style-type: none;
   display: flex;
   justify-content: center;
   padding-left: 65px;
   }
   
   .page-list li {
   margin-right: 66px;
   }
   
   .page-item {
   font-family: var(--font-montserrat);
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   }
   
   .page-item:hover:not(.page-item-active) {
   opacity: 0.5;
   }
   
   .page-item-active {
   color: #C29974;
   }
   
   .prev-page:hover svg path,
   .next-page:hover svg path {
   stroke: #C29974;
   stroke-opacity: 1;
   }
   
   .prev-page:active svg path,
   .next-page:active svg path {
   stroke-opacity: 0.5;
   }
 
 
 /*SLIDERS*/
.slider {
  margin-top: 69px;
 }
 
 .slider-body {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  background-color: #EEE4DB;
 }
 
 .slider-control {
  margin-top: 18px;
  margin-left: 28px;
  width: 15%;
 }
 
 .slider-toggle ul {
  list-style-type: none;
  margin: 10px 0 50px 3px;
  padding: 0;
  line-height: 0;
 }
 
 .slider-counter {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
 }
 
 .slider-toggle-item {
  margin-bottom: 11px;
 }
 
 .slider-toggle-btn {
  width: 31px;
  height: 3px;
  vertical-align: middle;
  background: #D6CAC2;
  border: none;
  padding: 0;
  cursor: pointer;
 }
 
 .slider-toggle-active {
  background: rgba(30, 6, 6, 0.6);
 }
 
 .slider-toggle-btn:hover {
  background: rgba(30, 6, 6, 0.6);
 }
 
 .slider-text {
  width: auto;
  padding: 90px 0 0 19px;
 }
 
 .slider-text p {
  font-family: var(--font-crimsontext);
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
 }
 
 .slider-text-btn {
  max-width: 161px;
  width: 100%;
  margin-bottom: 50px;
  white-space: nowrap;
  border: none;
 }
 
 .slider-text-btn:hover {
  background: #C29974;
 }
 
 .slider-text-btn:active {
  background: #CFAF91;
 }
 
 .slider-title {
  font-size: 40px;
 }
 
 .slider-text-item {
  margin: 0 0 18px 0;
 }
 
 .slider-img {
  display: block;
  margin-top: -89px;
 }
 
 .slider-footer {
  padding: 11px 0;
  background-color: #C29974;
  position: relative;
  bottom: 27px;
  text-align: center;
 }
 
 .slider-footer p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
 }
 
 /*CATEGORY*/
 
 .categoty-products{
 width: 454px;
 height: 47px;
 font-family: var(--font-montserrat);
 font-style: normal;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 text-transform: uppercase;
 color: #1E0606;
 margin: 0;
 }
  
 .category-item{
 list-style-type: none;
 margin: 0px;
 }
  
 .button-catergory{
 display: flex;
 align-items: center;
 padding-top: 14px;
  }
 
 .pre-category-button, .next-category-button{
 border: none;
 width: 37px;
 height: 37px;
 background: rgba(112, 187, 220, 0.2);
 cursor: pointer;
 }
 
 .pre-category-button{
 margin-right: 6px;
 }
  
 .pre-category-button:after {
 content: ' ';
 display: block;
 background-image: url('/images/prev-arrow.svg');
 background-size: 24px 29px;
 background-repeat: no-repeat;
 height: 32px;
 width: 28px;
  }
  
 .next-category-button {
 margin-right: 20px;
 }
  
 .next-category-.next-category-button {
 content: ' ';
 display: block;
 background-image: url('/images/next-arrow.svg');
 background-size: 24px 29px;
 background-repeat: no-repeat;
 height: 32px;
 width: 28px;
 }
 
 .category-subtitle {
 max-width: 50%;
 color: #1E0606;
 }
 
 /*SERVISE*/
 
 .servise {
 padding-top: 74px;
 display: flex;
 }
 
 .servise-title {
 width: 199px;
 height: 47px;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 color:#1E0606 ;
 margin: 0px 0px 6px 0px;
 }
 
 .about-service {
 padding-left: 121px;
 width: 100%;
 }
 
 .service-img{
 max-width: 480px;
 width: 100%;
 height: 559px;
 overflow: hidden;
 }
 
 .service-menu{
 margin: 0 0 29px 0;
 padding: 0;
 list-style-type: none;
 font-family: Crimson Text;
 font-style: italic;
 font-weight: normal;
 font-size: 26px;
 line-height: 34px;
 text-align: left;
 }
 
 
 .service-item{
 margin: 20px 0;
 list-style-type: none;
 }
 
 .service-fon{
 width: 326px;
 background: rgba(112, 187, 220, 0.2);
 margin: -1px 0 0px -17px;
 padding: 11px 180px 9px 60px;
 }
 
 .service-button{
 max-width: 149px;
 width: 100%;
 margin-top: 26px;
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 9px 22px;
 background: #000000;
 color: #FFFFFF;
 }
 
 /*Partners*/
 
 .partners{
 padding: 90px 0 86px 0;
 }
 
 .partner-list{
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style-type: none;
 margin: 0;
 padding: 0;
 }
 
 .partner-item-item {
 opacity: .5;
 }
 
 .partner-item:hover {
 opacity: 1;
 }
 
 .partner-item:active {
 opacity: .2;
 }
 
 /*MAP and INFORMATION*/
 
 .map{
 display: flex;
 padding-bottom: 60px;
 }
 
 .about-company{
 width: 543px;
 margin-right: 110px;
 background: #E1F0F7;
 }
 
 .title-company{
 width: 357px;
 height: 47px;
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 text-transform: uppercase;
 color: #1E0606;
 margin: 0px 0px 0px 30px;
 }
  
 .subtitle-company{
 width: 85px;
 height: 33px;
 font-family: Crimson Text;
 font-style: italic;
 font-weight: normal;
 font-size: 20px;
 line-height: 32px;
 color: #1E0606;
 margin: 31px 428px 10px 30px;
 }
  
 .subtitle-company2{
 width: 483px;
 height: 67px;
 font-family: Open Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 22px;
 color: #1E0606;
 margin: 10px 30px 20px 30px;
 }
 
 .button-company{
 background: #000000;
 color: #fff;
 font-weight: bold;
 font-size: 15px;
 line-height: 18px;
 width: 123px;
 text-align: center;
 padding: 9px;
 border: none;
 text-transform: uppercase;
 display: block;
 margin: 20px 390px 35px 30px;
 }
  
 .about-map{
 width: 543px;
 height: 209px;
 background: #E1F0F7;
 }
  
 .title-map{
 width: 217px;
 height: 47px;
 font-family: var(--font-montserrat);
 font-style: normal;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 text-transform: uppercase;
 color: #1E0606;
 margin: 26px 296px 20px 30px;
 }
  
 .subtitle-map{
 width: 483px;
 height: 66px;
 font-family: Open Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 22px;
 color: #1E0606;
 margin: 10px 30px 0px 30px;
 }
 
 .geography-map{
 width: 483px;
 height: 196px;
 margin: 20px 30px 60px 30px;
 background: url(images/map.png);
 }
 
 /
 
 
 /*MODAL WINDOW*/
 
 .modal-overlay {
 width: 100%;
 height: 100vh;
 background: rgba(125, 151, 218, 0.8);
 position: fixed;
 top: 0;
 left: 0;
 display: none;
 }
 
 .modal-window {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 box-sizing: border-box;
 max-width: 680px;
 width: 100%;
 background: #E5EAF8;
 padding: 42px 40px;
 display: none;
 }
 
 .popup-visible {
 display: block;
 z-index: 5;
 }
 
 .contact-form label {
 font-family: var(--font-roboto);
 font-size: 14px;
 line-height: 16px;
 display: block;
 }
 
 .contact-wrapper {
 margin: 0;
 padding: 0;
 border: none;
 }
 
 .contact-wrapper input:not([type=checkbox]),
 .contact-wrapper textarea {
 box-sizing: border-box;
 width: 100%;
 font-size: 18px;
 line-height: 25px;
 border: 1px solid rgba(0, 0, 0, 0.2);
 padding: 13px 20px 10px;
 margin-top: 6px;
 }
 
 .contact-wrapper textarea {
 resize: none;
 }
 
 .contact-wrapper input:not([type=checkbox]):hover {
 border: 1px solid rgba(0, 0, 0, 0.3);
 }
 
 .contact-wrapper input:not([type=checkbox]):active {
 border: 1px solid rgba(0, 0, 0, 0.2);
 }
 
 .contact-data-block,
 .contact-agreement {
 display: flex;
 margin-top: 20px;
 }
 
 .contact-data-block {
 justify-content: space-between;
 }
 
 .contact-data-block div {
 max-width: 290px;
 width: 100%;
 }
 
 .contact-message-block {
 margin-top: 20px;
 }
 
 .contact-agreement input[type=checkbox] {
 opacity: 0;
 position: absolute;
 width: 0;
 height: 0;
 }
 
 .contact-agreement label {
 position: relative;
 margin-left: 33px;
 }
 
 .contact-agreement label::before {
 content: '';
 position: absolute;
 left: -33px;
 top: 0;
 width: 19px;
 height: 19px;
 border: 2px solid #C29974;
 box-sizing: border-box;
 border-radius: 3px;
 }
 
 .contact-agreement label::after {
 content: '';
 position: absolute;
 left: -30px;
 top: 0;
 width: 15px;
 height: 15px;
 background-image: url(/images/stroke.svg);
 background-size: contain;
 background-repeat: no-repeat;
 opacity: 0;
 }
 
 .contact-agreement input[type=checkbox]:checked+label:after {
 opacity: 1;
 }
 
 .contact-agreement input[type=checkbox]:focus+label::before {
 outline: #000 auto 1px;
 }
 
 .modal-window-btn {
 margin-top: 20px;
 }
 
 .popup-close {
 position: absolute;
 top: 0px;
 right: -31px;
 cursor: pointer;
 background: transparent;
 border: none;
 }
 
 .popup-close:hover {
 opacity: 0.5;
 }
 
 .popup-close:active {
 opacity: 0.3;
 }