 
 .header {
  padding: 48px 0 60px;
  display: flex;
  align-items: center;
 }
 
 .header a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
 }
 
 .header a:hover {
  opacity: 0.5;
 }
 
 .header a:active {
  opacity: 0.2;
 }
 
 .header-logo {
  display: block;
 }
 
 
 .header-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
 }
 
 .header-item {
  margin-right: 21px;
 }
 
 .contact-link {
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 9px;
 }
 
 *body {
  font-family: var(--font-opensans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
 }
 
 a {
  text-decoration: none;
  color: #1E0606;
 
 }
 .hidden{
  height: 0px;
  font-size: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
 }
 .container{
  max-width: 1180px;
  width: 100%;
  margin: 0px auto;
 }
 
 h1,
 h2 {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
 }
 
 .button {
  display: block;
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 22px;
  border: none;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
 }
 
 .hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
 }
 
 /*FORM SEARCH*/
 .search-form {
  position: relative;
  width: 300px;
  height: 24px;
 }
 
 .search-text {
  height: 24px;
  width: 0;
  padding: 0 15px 0;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
 }
 
 .search-text:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 2px solid #000000;
 }
 
 .search-img {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 9px;
 }
 
 
 /*SLIDERS*/
.slider {
  margin-top: 69px;
 }
 
 .slider-body {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  background-color: #EEE4DB;
 }
 
 .slider-control {
  margin-top: 18px;
  margin-left: 28px;
  width: 15%;
 }
 
 .slider-toggle ul {
  list-style-type: none;
  margin: 10px 0 50px 3px;
  padding: 0;
  line-height: 0;
 }
 
 .slider-counter {
  font-family: var(--font-montserrat);
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
 }
 
 .slider-toggle-item {
  margin-bottom: 11px;
 }
 
 .slider-toggle-btn {
  width: 31px;
  height: 3px;
  vertical-align: middle;
  background: #D6CAC2;
  border: none;
  padding: 0;
  cursor: pointer;
 }
 
 .slider-toggle-active {
  background: rgba(30, 6, 6, 0.6);
 }
 
 .slider-toggle-btn:hover {
  background: rgba(30, 6, 6, 0.6);
 }
 
 .slider-text {
  width: auto;
  padding: 90px 0 0 19px;
 }
 
 .slider-text p {
  font-family: var(--font-crimsontext);
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
 }
 
 .slider-text-btn {
  max-width: 161px;
  width: 100%;
  margin-bottom: 50px;
  white-space: nowrap;
  border: none;
 }
 
 .slider-text-btn:hover {
  background: #C29974;
 }
 
 .slider-text-btn:active {
  background: #CFAF91;
 }
 
 .slider-title {
  font-size: 40px;
 }
 
 .slider-text-item {
  margin: 0 0 18px 0;
 }
 
 .slider-img {
  display: block;
  margin-top: -89px;
 }
 
 .slider-footer {
  padding: 11px 0;
  background-color: #C29974;
  position: relative;
  bottom: 27px;
  text-align: center;
 }
 
 .slider-footer p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
 }
 
 /*CATEGORY*/
 
 .categoty-products{
 width: 454px;
 height: 47px;
 font-family: var(--font-montserrat);
 font-style: normal;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 text-transform: uppercase;
 color: #1E0606;
 margin: 0;
 }
  
 .category-item{
 list-style-type: none;
 margin: 0px;
 }
  
 .button-catergory{
 display: flex;
 align-items: center;
 padding-top: 14px;
  }
 
 .pre-category-button, .next-category-button{
 border: none;
 width: 37px;
 height: 37px;
 background: rgba(112, 187, 220, 0.2);
 cursor: pointer;
 }
 
 .pre-category-button{
 margin-right: 6px;
 }
  
 .pre-category-button:after {
 content: ' ';
 display: block;
 background-image: url('/images/prev-arrow.svg');
 background-size: 24px 29px;
 background-repeat: no-repeat;
 height: 32px;
 width: 28px;
  }
  
 .next-category-button {
 margin-right: 20px;
 }
  
 .next-category-.next-category-button {
 content: ' ';
 display: block;
 background-image: url('/images/next-arrow.svg');
 background-size: 24px 29px;
 background-repeat: no-repeat;
 height: 32px;
 width: 28px;
 }
 
 .category-subtitle {
 max-width: 50%;
 color: #1E0606;
 }
 
 /*SERVISE*/
 
 .servise {
 padding-top: 74px;
 display: flex;
 }
 
 .servise-title {
 width: 199px;
 height: 47px;
 font-weight: bold;
 font-size: 38px;
 line-height: 46px;
 color:#1E0606 ;
 margin: 0px 0px 6px 0px;
 }
 
 .about-service {
 padding-left: 121px;
 width: 100%;
 }
 
 .service-img{
 max-width: 480px;
 width: 100%;
 height: 559px;
 overflow: hidden;
 }
 
 .service-menu{
 margin: 0 0 29px 0;
 padding: 0;
 list-style-type: none;
 font-family: Crimson Text;
 font-style: italic;
 font-weight: normal;
 font-size: 26px;
 line-height: 34px;
 text-align: left;
 }
 
 
 .service-item{
 margin: 20px 0;
 list-style-type: none;
 }
 
 .service-fon{
 width: 326px;
 background: rgba(112, 187, 220, 0.2);
 margin: -1px 0 0px -17px;
 padding: 11px 180px 9px 60px;
 }
 
 .service-button{
 max-width: 149px;
 width: 100%;
 margin-top: 26px;
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 9px 22px;
 background: #000000;
 color: #FFFFFF;
 }
 
 /*Partners*/
 
 .partners{
 padding: 90px 0 86px 0;
 }
 
 .partner-list{
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style-type: none;
 margin: 0;
 padding: 0;
 }
 
 .partner-item-item {
 opacity: .5;
 }
 
 .partner-item:hover {
 opacity: 1;
 }
 
 .partner-item:active {
 opacity: .2;
 }
 
 
 
 
 