.animation {
 position: relative;
 margin: 0 auto 67px auto;
 width: 100vw;
 overflow: hidden;
 &__city {
     position: relative;
     width: 100%;
 }
 &__cloud{
     position: relative;
     width: 100vw;
     height: 12vw;
     &_1 {
         position: absolute;
         right: 34%;
         bottom: 0;
         width: 14.4vw;
     }
     &_2 {
         position: absolute;
         right: 23%;
         bottom: 50%;
         width: 6.5vw;
     }
     &_3 {
         position: absolute;
         left: 5.8%;
         bottom: 57%;
         width: 6.5vw;
     }
     &_4 {
         position: absolute;
         right: -1.4%;
         bottom: 50%;
         width: 11.7vw;
     }
     &_5 {
         position: absolute;
         right: 47%;
         bottom: 55%;
         width: 11.1vw;
     }
     &_6 {
         position: absolute;
         right: 62%;
         bottom: 31%;
         width: 13.3vw;
     }
 }
 &__background {
     width: 111%;
     margin-left: -7%;
 }
 &__sun {
     position: absolute;
     right: 15%;
     top: 0;
     width: 4.2vw;
 }

 &__lantern_color {
     position: absolute;
     right: 15%;
     bottom: 8%;
     max-width: 15.1%;
     width: 100%;
     z-index: 10;
 }
 &__lantern_right{
     position: absolute;
     right: -2%;
     bottom: 31%;
     max-width: 7.9%;
     width: 100%;
     z-index: 7;
 }
 &__lantern_left {
     position: absolute;
     left: 30%;
     bottom: 31%;
     max-width: 7.9%;
     width: 100%;
     z-index: 7;
 }

 &__car {
     
     &_1 {
         position: absolute;
         left: 20%;
         bottom: 38%;
         max-width: 16.9%;
         width: 100%;
         animation: car-1-animation 5s;
         animation-iteration-count:infinite;
         z-index: 4;
     }
     &_2 {
         position: absolute;
         left: 43%;
         bottom: 40%;
         max-width: 21.2%;
         width: 100%;
         animation: car-2-animation 10s;
         animation-iteration-count:infinite;
         z-index: 3;
     }
     &_3 {
         position: absolute;
         left: -5%;
         bottom: 37.6%;
         max-width: 17.8%;
         width: 100%;
         animation: car-3-animation 4s;
         animation-iteration-count:infinite;
         z-index: 5;
     }
     
     &_4 {
         position: absolute;
         right: -2.5%;
         bottom: 36.4%;
         max-width: 17.8%;
         width: 100%;
         animation: car-4-animation 7s;
         animation-iteration-count:infinite;
         z-index: 6;
     }
 }
     
 &__suitcases{
     position: absolute;
     left: 11%;
     bottom: 7%;
     max-width: 13.9%;
     width: 100%;
     z-index: 10;
 }
 &__man-hand{
     position: absolute;
     left: 21%;
     bottom: 49%;
     max-width: 6%;
     width: 100%;
     z-index: 10;
     -webkit-animation: 15s infinite man_hand;
     animation: 15s infinite man_hand;
     transform-origin: 5% 90%;
 }
 &__man{
     position: absolute;
     left: 20%;
     bottom: 7%;
     max-width: 14%;
     width: 100%;
     z-index: 10;
 }
 &__woman{
     position: absolute;
     left: 11.8%;
     bottom: 8.4%;
     max-width: 6.6%;
     width: 100%;
     z-index: 9;
 }
 &__taxi{
     position: absolute;
     right: -1%;
     bottom: 16%;
     max-width: 63.3%;
     width: 100%;
     animation: taxi-animation 15s;
     animation-iteration-count:infinite;
     z-index: 8;
 }
 &__message-taxi{
     position: absolute;
     right: 28%;
     bottom: 51.5%;
     width: 11.5vw;
     z-index: 9;
     animation: steps(1, end) taxi_message 15s;
     animation-iteration-count:infinite;
     img {
        display: block;
         right: 17%;
         bottom: 40%;
         width: 100%;
     }
     p {
         position: absolute;
         left: 1vw;
         bottom: 40%;
         margin: 0 auto;
         font-size: 1.2vw;
         line-height: 1.7vw;
     }
 }
 &__message-woman {
     position: absolute;
     left: 5%;
     bottom: 50%;
     width: 11.5vw;
     z-index: 3;
     animation: steps(1, end) woman_message 15s;
     animation-iteration-count:infinite;
     img {
        display: block;
         right: 10%;
         bottom: 20%;
         width: 100%;
     }
     p {
         position: absolute;
         left: 1vw;
         bottom: 40%;
         margin: 0 auto;
         font-size: 1.2vw;
         line-height: 1.7vw;
     }
 }
 &__message-man {
     position: absolute;
     left: 19%;
     top: 25%;
     width: 11.5vw;
     z-index: 3;
     animation: steps(1, end) man_message-cloud 15s;
     animation-iteration-count:infinite;
     img {
        display: block;
         right: 16%;
         bottom: 20%;
         width: 100%;
     }
     p {
         position: absolute;
         left: 1vw;
         bottom: 50%;
         margin: 0 auto;
         font-size: 1.2vw;
         line-height: 1.7vw;
     }
     .animation__message-man_paragraph-1 {
         animation: steps(1, end) man_message-1 15s;
         animation-iteration-count:infinite;
     }

     .animation__message-man_paragraph-2 {
         animation: steps(1, end) man_message-2 15s;
         animation-iteration-count:infinite;
     }
     
 }
}

@keyframes clouds_animation {
 from {
   transform: translate(0%);
 }
 to {
   transform: translate(-250%);
 }
}

@keyframes taxi-animation {
 
 0%,20% {
     transform: translate(100%);
 }

 40%, 60% {
     transform: translate(0);
 }
 100% {
     transform: translate(-200%);
 }
 
}

@keyframes taxi_message {
 0%, 60% {
   opacity: 0;
 }
 50% {
   opacity: 1;
 }
}

@keyframes man_message-1 {
 0%, 35% {
   opacity: 0;
 }
 25% {
   opacity: 1;
 }
}

@keyframes man_message-2 {
 0%, 80% {
   opacity: 0;
 }
 70% {
   opacity: 1;
 }
}

@keyframes man_message-cloud {
 0%, 35%, 80% {
   opacity: 0;
 }
 25%, 70% {
   opacity: 1;
 }
}

@keyframes man_hand {
 0%, 20%, 50%, 100% {
     transform: rotate(150deg);
 }
 
 40% {
     transform: rotate(0);
 }
}


@keyframes woman_message {
 0%, 20% {
   opacity: 0;
 }
 10% {
   opacity: 1;
 }
}

@keyframes car-1-animation{
 0% {
     transform: translate(-200%);
 }
 
 100% {
     transform: translate(700%);
 }
}
@keyframes car-2-animation{
 0% {
     transform: translate(-250%);
 }
 
 100% {
     transform: translate(500%);
 }
}
@keyframes car-3-animation{
 0% {
     transform: translate(-200%);
 }
 
 100% {
     transform: translate(700%);
 }
}
@keyframes car-4-animation{
 0% {
     transform: translate(-600%);
 }
 
 100% {
     transform: translate(200%);
 }
}