/* ARTICLES*/

.articles {
 display: flex;
 flex-wrap: wrap;
}

.article-block {
 max-width: 380px;
 width: 100%;
 margin-bottom: 16px;
}

.article-block:not(:nth-child(3n+1)) {
 margin-right: 20px;
}

.article-link h3:hover,
.article-link h3:active {
 text-decoration-line: underline;
}

.post-data {
 display: block;
 margin-top: 15px;
 color: #818181;
}

.articles-title {
 font-family: var(--font-montserrat);
 font-weight: bold;
 font-size: 24px;
 line-height: 31px;
 margin: 6px 0 0;
}

.articles-content{
 font-size: 18px;
 line-height: 25px;
 margin: 14px 0 20px;
}

/*PAGE_LIST*/
.flipping-control {
 display: flex;
 justify-content: space-between;
 padding-bottom: 47px;
}

.flipping-control button {
 background-color: transparent;
 border: none;
 padding: 0;
 cursor: pointer;
}

.page-list {
 list-style-type: none;
 display: flex;
 justify-content: center;
 padding-left: 65px;
}

.page-list li {
 margin-right: 66px;
}

.page-item {
 font-family: var(--font-montserrat);
 font-weight: bold;
 font-size: 16px;
 line-height: 20px;
}

.page-item:hover:not(.page-item-active) {
 opacity: 0.5;
}

.page-item-active {
 color: #C29974;
}

.prev-page:hover svg path,
.next-page:hover svg path {
 stroke: #C29974;
 stroke-opacity: 1;
}

.prev-page:active svg path,
.next-page:active svg path {
 stroke-opacity: 0.5;
}