<!--1-->


<section class="servise__container">
    <div class="service-img">
        <img src="../../static/images/servise img.jpg" alt="" width="480" height="559">
    </div>
    <div class="about__service">

        <h2 class="service__title">Delivery</h2>
        <ul class="service__menu">
            <li class="service__menu_item"><a href="#" class="service__menu-fon">Delivery</a></li>
            <li class="service__menu_item"><a href="#">Guarantee</a></li>
            <li class="service__menu_item"><a href="#">Credit</a></li>
        </ul>
        <p>Some days i feel like i've been working on dlk my entire life and there are other days that i am
            completely shocked that four years have flown by. It's simply magical.</p>
        <p>What started as an outlet to deal with the traumatic loss of my husband, dlk has now become a
            truly happy place for me and i have you and all of the beautiful designers that we work with to
            thank!</p>
        <a href="#" class="service__button">LEARN MORE</a>
    </div>
</section>