/*1*/
.flipping-control {
 display: flex;
 justify-content: space-between;
 padding-bottom: 47px;
}

.flipping-control button {
 background-color: transparent;
 border: none;
 padding: 0;
 cursor: pointer;
}

.page__list {
 list-style-type: none;
 display: flex;
 justify-content: center;
 padding-left: 65px;
 &__list{
  margin-right: 66px;
 }
}


.page__item {
 font-family: var(--font-montserrat);
 font-weight: bold;
 font-size: 16px;
 line-height: 20px;
 &__item-active{
  color: #C29974;
 }
}

.page__item:hover:not(.page__item-active) {
 opacity: 0.5;
}

.prev-page:hover svg path,
.page__item-next:hover svg path {
 stroke: #C29974;
 stroke-opacity: 1;
}

.prev-page:active svg path,
.page__item-next:active svg path {
 stroke-opacity: 0.5;
}
