<!--1-->

<section class="flipping-control container">
 <button class="prev-page" type="button" aria-label="Button previous toys list"><svg width="18" height="30"
         viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4" />
     </svg>
 </button>

 <ul class="page__list">
     <li>
         <button class="page__item page__item-active" type="button"
             aria-label="Button 1 of the toys list page">1</button>
     </li>
     <li>
         <button class="page__item" type="button" aria-label="Button 2 of the toys list page">2</button>
     </li>
     <li>
         <button class="page__item" type="button" aria-label="Button 3 of the toys list page">3</button>
     </li>
     <li>
         <button class="page__item" type="button" aria-label="Button 4 of the toys list page">4</button>
     </li>
 </ul>
 <button class="page__item-next" type="button" aria-label="Button next toys list"><svg width="18" height="30"
         viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4" />
     </svg>
 </button>
</section>