@mixin font-lato ($size, $weight, $height) {
 font-family: var(--font-lato);
 font-style: normal;
 font-weight: $weight;
 font-size: $size;
 line-height: $height;
}

.breadcrumbs {
 padding: 16px 0 48px;
}

img {
 display: block;
}

.grid {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(6, 215px);

 &__link,
 &__text {
     @include font-lato (12px, 700, 14px);
     text-transform: uppercase;
     color: #BCBCBE;
 }

 &__link-download {
     @include font-lato (14px, 500, 17px);
     color: #2198F4;
     text-decoration: underline;
 }

 &__wrapper {
     display: grid;
     justify-items: center;
     position: relative;
     z-index: 1;

     &:before {
         content: "";
         position: absolute;
         width: 300px;
         height: 300px;
         border-radius: 50%;
         right: 50%;
         bottom: 50%;
         transform: translate(50%, 50%);
         background: #8066b0;
         z-index: -1;
     }
 }
}

.grid__box {
 &_1 {
     grid-row: 1/3;
     grid-column: 1/2;
     padding: 129px 50px 0 80px;
     overflow: auto;

     span {
         @include font-lato (12px, 700, 14px);
     }

     h3 {
         @include font-lato (22px, 500, 26px);
         margin: 10px 0 16px;
         color: #2C3036;
     }

     .grid__link-more-1 {
         @include font-lato (14px, 500, 17px);
         color: #BCBCBE;
     }
 }

 &_2 {
     display: grid;
     padding-left: 21px;
     align-items: end;
     grid-row: 1/3;
     grid-column: 2/3;
     overflow: auto;
 }

 &_3 {
     display: grid;
     text-align: center;
     background-color: #F7F8FA;
     grid-row: 1/3;
     grid-column: 3/5;
     padding: 98px 125px;
     overflow: auto;

     h3 {
         @include font-lato (48px, 700, 58px);
         margin: 22px 0 10px;
         color: #2C3036;
     }
 }

 &_4 {
     background-color: #ef5539;
     text-align: center;
     display: grid;
     justify-items: center;
     align-content: start;
     grid-row: 3/5;
     grid-column: 1/2;
     padding-top: 83px;
     overflow: auto;

     h3 {
         color: #fff;
         margin: 0 auto;
         width: 50%;
         @include font-lato (22px, 700, 26px);
         margin: 12px 0 20px;
     }

     .grid__link {
         color: #FFC80A;
     }
 }

 &_5 {
     grid-row: 3/5;
     grid-column: 2/3;
     padding-top: 108px;
     display: grid;
     justify-items: start;
     align-items: end;
     overflow: auto;

     &-img {
         margin-right: -2px;
     }

     h3 {
         width: 45%;
         @include font-lato (22px, 700, 26px);
         color: #2C3036;
         align-self: start;
         margin-top: -3px;
     }

     .grid__text,
     h3 {
         margin-left: 95px;
     }

     .grid__text {
         align-self: start;
     }
 }

 &_6 {
     grid-row: 3/5;
     grid-column: 3/4;
     padding: 95px 0 0 25px;
     overflow: auto;

     p {
         @include font-lato (14px, 500, 17px);
         color: #BCBCBE;
         width: 70%;
     }

     .grid__link {
         color: #2198F4;
     }
 }

 &_7 {
     background-color: #8F75BC;
     grid-row: 3/7;
     grid-column: 4/5;
     text-align: center;
     display: grid;
     justify-items: center;
     align-content: start;
     padding-top: 192px;
     overflow: auto;

     &-img {
         margin-top: 15px;
     }

     span,
     h3,
     p {
         color: #fff;
     }

     .grid__text-7-1 {
         @include font-lato (10px, 700, 12px);
         display: grid;
         align-items: center;
         text-transform: uppercase;
         width: 77px;
         height: 22px;
         background: #8972B6;
         border-radius: 11px;
         
     }

     .grid__text-7-2 {
         @include font-lato (12px, 700, 14px);
         text-transform: uppercase;
     }

     h3 {
         @include font-lato (32px, 700, 38px);
         margin: 53px 0 0;
     }

     p {
         @include font-lato (14px, 700, 17px);
         width: 63%;
         margin: 12px 0 0;
     }

     .grid__link {
         color: #2C3036;
         margin-top: 26px;
         width: 159px;
         height: 53px;
         background: #FFC80C;
         border-radius: 27px;
         display: grid;
         align-items: center;
     }
 }

 &_8 {
     background-color: #93B7B7;
     grid-row: 5/7;
     grid-column: 1/3;
     display: grid;
     overflow: auto;

     span {
         @include font-lato (8px, 700, 10px);
         color: #fff;
         position: relative;
         top: 76%;
         left: 2%;
         width: 61px;
         height: 16px;
         background: #fa684f;
         border-radius: 3px;
         display: grid;
         justify-items: center;
         align-items: center;
     }

     h3 {
         @include font-lato (22px, 700, 26px);
         color: #fff;
         justify-self: center;
         width: 41%;
         margin-top: 56px;
         text-align: center;
     }

     picture {
         align-self: end;
         margin: 0 auto;
     }
 }

 &_9 {
     text-align: center;
     background-color: #F7F8FA;
     grid-row: 5/7;
     grid-column: 3/4;
     padding-top: 96px;
     overflow: auto;

     &-img {
         margin: 0 auto;
     }

     h3 {
         @include font-lato (22px, 500, 26px);
         color: #2C3036;
         margin: 12px 0 14px;
     }

     .grid__link {
         color: #2198F4;
     }
 }

 &_10 {
     background-color: #f7f8fa;
     grid-row: 7/8;
     grid-column: 1/2;
     display: grid;
     align-items: center;
     justify-items: center;
     align-content: center;
     overflow: auto;

     a {
         display: block;
         @include font-lato (22px, 700, 26px);
         color: #2C3036;
         margin-top: 16px;
     }
 }

 &_11 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     background-color: #2c2c2c;
     grid-row: 7/8;
     grid-column: 2/5;
     overflow: auto;

     &-img {
         margin-left: 200px;
     }

     p {
         display: inline-block;
         color: #fff;
         @include font-lato (22px, 500, 26px);
         align-self: center;
         width: 40%;
         margin-left: 26px;
     }
 }
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {
 .grid__box {
     &_3 {
         padding: 5%;
     }
     &_7 {
         padding: 192px 64px;
     }
     &_8 img {
         width: 90%;
     }
     &_9 img {
         width: 78%;
     }
 }
}
@media screen and (max-width: 1199px) {
 .page-title {
     margin: 35px 0 0;
     font-size: 36px;
     line-height: 44px;
 }
 .breadcrumbs {
     padding: 13px 0 27px;
 }
 .grid {
     grid-template-rows: 278px 430px 430px 430px 350px 350px 215px;
 }
 .grid__box {
     &_1 {
         grid-row: 2/3;
         grid-column: 1/3;
         padding: 129px 49px 10px 114px;
     }
     &_2 {
         grid-row: 2/3;
         grid-column: 3/5;
     }
     &_3 {
         grid-row: 1/2;
         grid-column: 1/5;
         padding: 0;
         .grid__text {
             margin-top: 7%;
         }
         h3 {
             font-size: 35px;
             line-height: 42px;
             max-width: 65%;
             margin: 0 auto;
         }
         .grid__link-download {
             margin-top: 2.6%;
             margin-bottom: 3.4%;
         }
     }
     &_4 {
         grid-row: 3/4;
         grid-column: 1/3;
         &-img {
             width: 41vw;
         }
     }
     &_5 {
         grid-row: 4/5;
         grid-column: 1/3;
         h3 {
             width: 40%;
         }
         .grid__text,
         h3 {
             margin-left: 30.9%;
         }
         &-img {
             width: 109%;
         }
     }
     &_6 {
         grid-row: 4/5;
         grid-column: 3/5;
         p {
             width: 62%;
         }
     }
     &_7 {
         grid-row: 5/7;
         grid-column: 3/5;
         padding-top: 30%;
         p {
             width: 60%;
             margin: 9px 0 0;
         }
     }
     &_8 {
         grid-row: 5/6;
         grid-column: 1/3;
         &-img {
             width: 50vw;
             margin: 0 auto;
         }
         h3 {
             width: 52%;
             margin-top: 67px;
         }
         span {
             top: 48%;
             left: 4%;
         }
     }
     &_9 {
         grid-row: 3/4;
         grid-column: 3/5;
         &-img {
             width: 39vw;
         }
     }
     &_10 {
         grid-row: 6/7;
         grid-column: 1/3;

     }
     &_11 {
         grid-row: 7/8;
         grid-column: 1/5;
         align-items: center;
         &-img {
             margin-left: 59px;
             width: 47%;
         }
         p {
             margin-left: 25px;
             width: 50%;
         }
     }
 }
}

@media screen and (max-width: 768px) {
 .grid__box {
     &_5 {
         .grid__text,
         h3 {
             margin-left: 33.2%;
         }
     }
     &_11 {
         &-img {
             width: 71%;
         }
     }
 }
}

@media screen and (max-width: 660px) {
 .grid {
     grid-template-rows: 278px 160px 370px 322px 309px 339px 173px 300px 200px 596px 320px;
     grid-template-columns: 1fr;
 }
 .grid__box {
     &_1 {
         grid-row: 2/3;
         grid-column: 1/2;
         padding: 5%;
     }
     &_2 {
         grid-row: 3/4;
         grid-column: 1/2;
         &-img {
             width: 50vw;
         }
     }
     &_3 {
         grid-row: 1/2;
         grid-column: 1/2;
     }
     &_4 {
         grid-row: 4/5;
         grid-column: 1/2;
     }
     &_5 {
         grid-row: 6/7;
         grid-column: 1/2;
         padding-top: 10%;
         &-img {
             width: 88%;
         }
     }
     &_6 {
         grid-row: 7/8;
         grid-column: 1/2;
         padding: 2%;
     }
     &_7 {
         grid-row: 10/11;
         grid-column: 1/2;
         padding-top: 10%;
     }
     &_8 {
         grid-row: 8/9;
         grid-column: 1/2;
         &-img {
             width: 60vw;
         }
     }
     &_9 {
         grid-row: 5/6;
         grid-column: 1/2;
         padding-top: 10%;
     }
     &_10 {
         grid-row: 9/10;
         grid-column: 1/2;
     }
     &_11 {
         grid-row: 11/12;
         grid-column: 1/2;
         align-items: center;
     }
 }
}
