<!--1-->

<section class="partners">
 <h2 class="hidden"> Partners</h2>
 <ul class="partner-list">

     <li class="partner-item"><img src="static/images/brand 1.jpg" alt="" width="193" height="60"></li>
     <li class="partner-item"><img src="static/images/brand2.jpg" alt="" width="179" height="61"></li>
     <li class="partner-item"><img src="static/images/brand3.jpg" alt="" width="216" height="46"></li>
     <li class="partner-item"><img src="static/images/brand4.jpg" alt="" width="211" height="40"></li>
 </ul>
</section>