
.header {
 padding: 48px 0 60px;
 display: flex;
 align-items: center;
}

.header a {
 text-transform: uppercase;
 font-size: 14px;
 line-height: 19px;
 white-space: nowrap;
}

.header a:hover {
 opacity: 0.5;
}

.header a:active {
 opacity: 0.2;
}

.header-logo {
 display: block;
}


.header-list {
 display: flex;
 align-items: center;
 list-style-type: none;
 flex-wrap: wrap;
}

.header-item {
 margin-right: 21px;
}

.contact-link {
 font-weight: 700;
 letter-spacing: 1px;
 margin-left: 9px;
}
