footer {
  background: #434343;
  padding: 100px 0;

  &__top_content{
    padding-bottom: 14px;
  }
  &__titles{
    font-weight: normal;
  color: #aaa;
  border-bottom: #666666 solid 1px;
  padding-bottom: 22px;
  margin: 0;
  }
  &__lists{
    display: flex;
    justify-content: space-between;
  }
  &__list, &__info, &__connect{
    max-width: 380px;
    width: 100%;
  }
  &__menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item a, &__link, &__label, &__item {
    color: #fff;
  }
  }
  
  .footer__navigation_menu,
  .footer_customer_menu {
  padding-top: 28px;
  }
  

  .footer__menu_item {
  padding-bottom: 15px;
  }

.socials{
  padding-top: 29px;
 &__link{
  position: relative;
  z-index: 0;
 }
 &__list{
  display: flex;
  font-size: 14px;
  padding-left: 11px;
 }
}

.socials_link:hover,
  .footer__menu_item:hover {
  opacity: 0.5;
  }
  
  .socials__link:active,
  .footer__menu_item:active {
  opacity: 0.2;
  }
  
  .subscribe-form {
  display: flex;
  padding-top: 26px;
  }
  
  .input-email {
  width: 100%;
  padding-left: 15px;
  color: #EBEBEB;
  background-color: #666;
  border: 1px solid transparent;
  border-right: 0;
  }
  
  .input-email::placeholder {
  color: #EBEBEB;
  }
  
  .input-email:hover,
  .input-email:active {
  border: 1px solid #FFFDFD;
  border-right: 0;
  }
  
  .subscribe-btn {
  max-width: 81px;
  width: 100%;
  }
  
  .socials__list li:not(:first-child) {
  padding-left: 28px;
  }
  
 
  
  .socials__link::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #434343;
  z-index: -1;
  }
  
  .rating__list,
  .copyright,
  .designer_link {
  max-width: 380px;
  width: 100%;
  }
  
  .footer__bottom__content{
  border-top: #666666 solid 1px;
  padding: 23px 0 0;
  }
  
  
  /* Stars rating */

  .rating{
    &__list{
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
    }
    &__item{
      padding-left: 5px;
      font-size: 13px;
      cursor: pointer;
      color: #C29974;
      transition: 0.2s;
      text-decoration: none;
    }
    &__input{
      display: none;
    }

  }
  
  .star__rating_input:checked~.rating-label {
  color: #C29974;
  }
  
  .rating__list:hover .rating-label {
  color: #C29974;
 }
  
  .rating__list .rating__item:last-of-type {
  padding-left: 28px;
  }
  
  
  
  .rating__item:hover,
  .rating__item:hover~.rating__item,
  .rating__item:focus~.rating__item {
  color: #836E5B;
  }
  
  .star__rating_input:checked~.rating-item,
  .star__rating_input:not(:checked)>.rating-item:hover,
  .star__rating_inputt:not(:checked)>.rating-item:hover~.rating-item {
  color: #C29974;
  }
  
  .designer-link {
  color: #A2A2A2;
  }
  
  .designer-link:hover,
  .designer-link:active {
  color: #fff;
  text-decoration-line: underline;
  }
   
  
 
 