footer {
  background: #434343;
  padding: 100px 0;
  }
  
  .footer-top-content {
  padding-bottom: 14px;
  }
  
  .footer-titles {
  font-weight: normal;
  color: #aaa;
  border-bottom: #666666 solid 1px;
  padding-bottom: 22px;
  margin: 0;
  }
  
  .footer-lists {
  display: flex;
  justify-content: space-between;
  }
  
  .navigation-list,
  .footer-customer-info,
  .connect {
  max-width: 380px;
  width: 100%;
  }
  
  .footer-navigation-menu,
  .footer-customer-menu,
  .socials-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  }
  
  .footer-navigation-menu,
  .footer-customer-menu {
  padding-top: 28px;
  }
  
  .footer-menu-item a,
  .socials-link,
  .copyright,
  .rating-label,
  .rating-item {
  color: #fff;
  }
  
  .footer-menu-item {
  padding-bottom: 15px;
  }
  
  .socials-link:hover,
  .footer-menu-item:hover {
  opacity: 0.5;
  }
  
  .socials-link:active,
  .footer-menu-item:active {
  opacity: 0.2;
  }
  
  .subscribe-form {
  display: flex;
  padding-top: 26px;
  }
  
  .input-email {
  width: 100%;
  padding-left: 15px;
  color: #EBEBEB;
  background-color: #666;
  border: 1px solid transparent;
  border-right: 0;
  }
  
  .input-email::placeholder {
  color: #EBEBEB;
  }
  
  .input-email:hover,
  .input-email:active {
  border: 1px solid #FFFDFD;
  border-right: 0;
  }
  
  .subscribe-btn {
  max-width: 81px;
  width: 100%;
  }
  
  .socials {
  padding-top: 29px;
  }
  
  .socials-list {
  display: flex;
  font-size: 14px;
  padding-left: 11px;
  }
  
  .socials-list li:not(:first-child) {
  padding-left: 28px;
  }
  
  .socials-link {
  position: relative;
  z-index: 0;
  }
  
  .socials-link::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #434343;
  z-index: -1;
  }
  
  .rating-list,
  .copyright,
  .designer-link {
  max-width: 380px;
  width: 100%;
  }
  
  .footer-bottom-content {
  border-top: #666666 solid 1px;
  padding: 23px 0 0;
  }
  
  
  /* Stars rating */
  
  .star-rating-input:checked~.rating-label {
  color: #C29974;
  }
  
  .rating-list {
   
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  }
  
  .rating-list:hover .rating-label {
  color: #C29974;
 }
  
  .rating-list .rating-item:last-of-type {
  padding-left: 28px;
  }
  
  .star-rating-input {
  display: none;
  }
  
  .rating-item {
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
  color: #C29974;
  transition: 0.2s;
  text-decoration: none;
  }
  
  .rating-item:hover,
  .rating-item:hover~.rating-item,
  .rating-item:focus~.rating-item {
  color: #836E5B;
  }
  
  .star-rating-input:checked~.rating-item,
  .star-rating-input:not(:checked)>.rating-item:hover,
  .star-rating-input:not(:checked)>.rating-item:hover~.rating-item {
  color: #C29974;
  }
  
  .designer-link {
  color: #A2A2A2;
  }
  
  .designer-link:hover,
  .designer-link:active {
  color: #fff;
  text-decoration-line: underline;
  }
   
   /
   .page-title {
   margin: 0;
   font-size: 40px;
   line-height: 49px;
   }
   
   .articles-control {
   display: flex;
   justify-content: space-between;
   padding-bottom: 47px;
   }
   
   .articles-control button {
   background-color: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
   }
   
   .page-list {
   list-style-type: none;
   display: flex;
   justify-content: center;
   padding-left: 65px;
   }
   
   .page-list li {
   margin-right: 66px;
   }
   
   .page-item {
   font-family: var(--font-montserrat);
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   }
   
   .page-item:hover:not(.page-item-active) {
   opacity: 0.5;
   }
   
   .page-item-active {
   color: #C29974;
   }
   
   .prev-page:hover svg path,
   .next-page:hover svg path {
   stroke: #C29974;
   stroke-opacity: 1;
   }
   
   .prev-page:active svg path,
   .next-page:active svg path {
   stroke-opacity: 0.5;
   }
 
 
 