<footer class="footer">
    <div class="container">
        <div class="footer__content_top footer__lists">
            <div class="footer__navigation">
                <h4 class="footer__titles">Navigation</h4>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="#">About Us</a></li>
                    <li class="footer__menu-item"><a href="blog.html">Blog</a></li>
                    <li class="footer__menu-item"><a href="#">Design Services</a></li>
                    <li class="footer__menu-item"><a href="#">Featured On</a></li>
                    <li class="footer__menu-item"><a href="#">2018 Holiday Catalog</a></li>
                    <li class="footer__menu-item"><a href="#">Shop By Designer</a></li>
                </ul>
            </div>
            <div class="footer__customer-info">
                <h4 class="footer__titles">Customer Information</h4>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="contact.html">Contact Us</a></li>
                    <li class="footer__menu-item"><a href="#">Sale Exclusions</a></li>
                    <li class="footer__menu-item"><a href="#">Shipping & Returns</a></li>
                    <li class="footer__menu-item"><a href="#">Terms & Conditions</a></li>
                    <li class="footer__menu-item"><a href="#">Privacy Policy</a></li>
                    <li class="footer__menu-item"><a href="#">Search</a></li>
                </ul>
            </div>
            <div class="connect">
                <h4 class="footer-titles">Connect</h4>
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Email" aria-label="subscribe email">
                    <button class="subscribe-btn button" type="submit">Join</button>
                </form>
                <div class="socials">
                    <ul class="socials__list">
                        <li>
                            <a class="socials__link facebook fab fa-facebook-f" aria-label="social facebook link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link twitter fab fa-twitter" aria-label="social twitter link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link pinterest fab fa-pinterest" aria-label="social pinterest link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link instagram fab fa-instagram" aria-label="social instagram link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__content_bottom footer__lists">
            <div class="star-rating">
                <input class="star-rating__input" type="radio" id="star-rating-5" name="star" value="5">
                <label class="star-rating__item fas fa-star hov_star" for="star-rating-5" tabindex="0" aria-label="Company Rating 5 star"></label>
                <input class="star-rating__input" type="radio" id="star-rating-4" name="star" value="4">
                <label class="star-rating__item fas fa-star hov_star" for="star-rating-4" tabindex="0" aria-label="Company Rating 4 star"></label>
                <input class="star-rating__input" type="radio" id="star-rating-3" name="star" value="3">
                <label class="star-rating__item fas fa-star hov_star" for="star-rating-3" tabindex="0" aria-label="Company Rating 3 star"></label>
                <input class="star-rating-input" type="radio" id="star-rating-2" name="star" value="2">
                <label class="star-rating__item fas fa-star hov_star" for="star-rating-2" tabindex="0" aria-label="Company Rating 2 star"></label>
                <input class="star-rating__input" type="radio" id="star-rating-1" name="star" value="1">
                <label class="star-rating__item fas fa-star hov_star" for="star-rating-1" tabindex="0" aria-label="Company Rating 1 star"></label>
                <span class="star-rating-name">Company Rating</span>
            </div>
            <span class="copyright">Copyright © 2018 Dlk • Design Life Kids</span>
            <a class="copyright__link" href="#">Web Design — Direct Line Development</a>
        </div>
    </div>
</footer>

</body>

</html>-->




