<!--1-->

<footer class="footer">
    <div class="container">
        <div class="footer__content_top footer__lists">
            <div class="footer__navigation">
                <h4 class="footer__titles">Navigation</h4>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="#">About Us</a></li>
                    <li class="footer__menu-item"><a href="blog.html">Blog</a></li>
                    <li class="footer__menu-item"><a href="#">Design Services</a></li>
                    <li class="footer__menu-item"><a href="#">Featured On</a></li>
                    <li class="footer__menu-item"><a href="#">2018 Holiday Catalog</a></li>
                    <li class="footer__menu-item"><a href="#">Shop By Designer</a></li>
                </ul>
            </div>
            <div class="footer__customer-info">
                <h4 class="footer__titles">Customer Information</h4>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="contact.html">Contact Us</a></li>
                    <li class="footer__menu-item"><a href="#">Sale Exclusions</a></li>
                    <li class="footer__menu-item"><a href="#">Shipping & Returns</a></li>
                    <li class="footer__menu-item"><a href="#">Terms & Conditions</a></li>
                    <li class="footer__menu-item"><a href="#">Privacy Policy</a></li>
                    <li class="footer__menu-item"><a href="#">Search</a></li>
                </ul>
            </div>
            <div class="connect">
                <h4 class="footer-titles">Connect</h4>
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Email" aria-label="subscribe email">
                    <button class="subscribe-btn button" type="submit">Join</button>
                </form>
                <div class="socials">
                    <ul class="socials__list">
                        <li>
                            <a class="socials__link facebook fab fa-facebook-f" aria-label="social facebook link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link twitter fab fa-twitter" aria-label="social twitter link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link pinterest fab fa-pinterest" aria-label="social pinterest link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                        <li>
                            <a class="socials__link instagram fab fa-instagram" aria-label="social instagram link" href="#" target="_blank" tabindex="0"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="rating-area">
        <input type="radio" id="star-5" name="rating" value="5">
        <label for="star-5" title="Оценка «5»"></label>	
        <input type="radio" id="star-4" name="rating" value="4">
        <label for="star-4" title="Оценка «4»"></label>    
        <input type="radio" id="star-3" name="rating" value="3">
        <label for="star-3" title="Оценка «3»"></label>  
        <input type="radio" id="star-2" name="rating" value="2">
        <label for="star-2" title="Оценка «2»"></label>    
        <input type="radio" id="star-1" name="rating" value="1">
        <label for="star-1" title="Оценка «1»"></label>
        <span class="star-rating-name">Company Rating</span>
    </div>
         <span class="copyright">Copyright © 2018 Dlk • Design Life Kids</span>
          <a class="copyright__link" href="#">Web Design — Direct Line Development</a>
      </div>
  </div>
</footer>

</body>

</html>
