<!--1-->

<section class="map">
 <div class="about-company">
     <h2 class="title-company">Design Life Kids</h2>
     <h3 class="subtitle-company">About Us</h3>
     <p class="subtitle-company2">
         Some days i feel like i've been working on dlk my entire life and there are other days that i am
         completely shocked that four years have flown by. It's simply magical.
     </p>
     <a href="#" class="button-company">BUY NOW</a>
 </div>
 <div class="about-map">
     <h2 class="title-map">Contacts</h2>
     <p class="subtitle-map">Some days i feel like i've been working on dlk my entire life and there are
         other days that i am completely shocked that four years have flown by. It's simply magical.</p>
     <img src="static/images/map.png" alt="geography-map" class="geography-map" width="483" height="196">
 </div>
</section>