/*TOYS */

.toys-catalog{
 padding-bottom: 44px;
&__list{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 0;
 list-style-type: none;
}
&__item{
 max-width: 380px;
 margin-top: 46px;
 text-align: center;
 }
 &__link, {
  position: relative;
  display: block;
  &:hover,
  &:active{
   display: block;
  opacity: 0.67;
  }
 &__title{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 24px 0 0;
 }
 &__price{
  display: block;
  font-weight: bold;
  margin-top: 16px;
 }
}
}
.toys-item:not(:nth-child(3n)) {
 margin-right: 20px;
}