<section class="toys__catalog">
 <a class="toys__item_link" href="#">
     <ul class="toys__list">
         <li class="toys__item">
             <img src="../../static/images/products 1.jpg" alt="" height="385" width="380">

             <h2 class="toys__menu_item_title">SHARKY BEAN BAG CHAIR COVER</h2>
             <span class="toys__menu_price">$60.00 USD</span>
         </li>
 </a>

 <li class="toys__item">
     <a class="toys__item_link" href="#">
         <img src="../../static/images/products 2.jpg" alt="" height="385" width="380">

         <h2 class="toys__item_title">BRASS DECO FRAMES</h2>
         <span class="toys__menu_price">$66.00 USD</span>
 </li>
 </a>

 <li class="toys__item">
     <a class="toys__item_link" href="#">
         <img src="../../static/images/products 3.jpg" alt="" height="385" width="380">

         <h2 class="toys__item_title">CIBO FULL APRON</h2>
         <span class="toys__price">$60.00 USD</span>
 </li>
 </a>

 <li class="toys__item">
     <a class="toys__item_link" href="#">
         <img src="../../static/images/products 4.jpg" alt="" height="385" width="380">

         <h2 class="toys__item_title">GATCHA GATCHA GUMBALL MACHINE</h2>
         <span class="toys__price">$56.00 USD</span>
 </li>
 </a>
 <li class="toys__item">
     <a class="toys__item_link" href="#">
         <img src="../../static/images/products 5.jpg" alt="" height="385" width="380">

         <h2 class="toys__item_title">CHRISTMAS ADVENT SCENTED CANDLE</h2>
         <span class="toys__price">$29.00 USD</span>
 </li>
 </a>
 <li class="toys__item">
     <a class="toys__item_link" href="#">
         <img src="../../static/images/products 6.jpg" alt="" height="385" width="380">

         <h2 class="toys__item_title">TANGLE SPINNING TEA LIGHT</h2>
         <span class="toys__price">$56.00 USD</span>
 </li>
 </a>
 </ul>
</section>