<section class="slider">
 <div class="slider_body">
     <div class="slider_control">
         <div class="slider_counter">01</div>
         <div class="slider__toggle">
             <ul>
                 <li class="slider__toggle_item">
                     <button class="slider__toggle_btn slider__toggle_active" aria-label="button slide one"
                         type="button" data-slidenumber="01"></button>
                 </li>
                 <li class="slider__toggle_item">
                     <button class="slider__toggle_btn" aria-label="button slide two" type="button"
                         data-slidenumber="02"></button>
                 </li>
                 <li class="slider__toggle_item">
                     <button class="slider__toggle_btn" aria-label="button slide there" type="button"
                         data-slidenumber="03"></button>
                 </li>
                 <li class="slider__toggle_item">
                     <button class="slider__toggle_btn" aria-label="button slide four" type="button"
                         data-slidenumber="04"></button>
                 </li>
             </ul>
         </div>
     </div>

     <div class="slider__text">
         <h1 class="slider_title slider__text_item">THE OOH NOO COLLECTION</h1>
         <p class="slider__text_item">Designed in Slovenia</p>
         <button class="slider__text_btn button" type="button">EXPLORE NOW</button>
     </div>
     <img class="slider_img" src="../../static/images/banner.png" alt="" class="poster" width="636" height="489">
 </div>
 <div class="slider_footer">
     <p>Free (continental) USA shipping on all orders of $100 USD or more!</p>
 </div>
 </section>